In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('dataset_Facebook.csv',sep=';',usecols=([1]+list(range(7,19))))

In [3]:
types = set(data.Type)
scopes = [[x] for x in types]
scopes.append(types)
metrics = [pd.DataFrame.min, pd.DataFrame.max , pd.DataFrame.mean, pd.DataFrame.median,pd.DataFrame.mode]
pd.set_option('display.max_rows', None)
for metric in metrics:
    frames = []
    print('Metric: ' + metric.__name__)
    for scope in scopes:
        frame = pd.DataFrame(metric(data[data.Type.isin(scope)].loc[:,'Lifetime Post Total Reach':])).rename(index = {0:str(scope)}, columns  = {0:str(scope)})
        if metric != pd.DataFrame.mode:
            frame = frame.transpose()
        frames.append(frame)
    display(pd.concat(frames))

Metric: min

,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
['Status'],3930.0,7509.0,128.0,86.0,112.0,5009.0,2410.0,101.0,0.0,13.0,1.0,17.0
['Link'],1536.0,3094.0,24.0,23.0,26.0,2307.0,1180.0,19.0,0.0,5.0,0.0,6.0
['Video'],13544.0,30235.0,459.0,411.0,539.0,21436.0,9568.0,363.0,2.0,65.0,13.0,81.0
['Photo'],238.0,570.0,9.0,9.0,9.0,567.0,236.0,9.0,0.0,0.0,0.0,0.0
"{'Status', 'Link', 'Video', 'Photo'}",238.0,570.0,9.0,9.0,9.0,567.0,236.0,9.0,0.0,0.0,0.0,0.0

Metric: max

,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
['Status'],31136.0,59964.0,6164.0,5934.0,9237.0,37849.0,21352.0,4376.0,60.0,859.0,123.0,1009.0
['Link'],70912.0,229733.0,1374.0,1106.0,1345.0,42338.0,27232.0,788.0,15.0,379.0,44.0,420.0
['Video'],139008.0,277100.0,3872.0,3822.0,7327.0,107502.0,38720.0,2218.0,23.0,449.0,121.0,550.0
['Photo'],180480.0,1110282.0,11452.0,11328.0,19779.0,1107833.0,51456.0,3430.0,372.0,5172.0,790.0,6334.0
"{'Status', 'Link', 'Video', 'Photo'}",180480.0,1110282.0,11452.0,11328.0,19779.0,1107833.0,51456.0,4376.0,372.0,5172.0,790.0,6334.0

Metric: mean

,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
['Status'],13078.888889,24244.466667,2040.222222,1949.555556,2838.866667,18664.266667,9908.577778,1719.844444,8.911111,176.711111,31.422222,217.044444
['Link'],18544.590909,28725.454545,342.818182,292.681818,374.090909,11148.590909,6544.363636,210.545455,2.818182,73.318182,12.909091,89.045455
['Video'],51205.714286,102622.428571,1707.000000,1584.714286,2600.142857,43149.857143,17386.285714,979.428571,12.285714,231.428571,52.142857,295.857143
['Photo'],13137.814554,28994.497653,818.946009,690.431925,1299.025822,16422.483568,6059.103286,507.305164,7.492958,182.611765,27.158768,216.579812
"{'Status', 'Link', 'Video', 'Photo'}",13903.360000,29585.948000,920.344000,798.772000,1415.130000,16766.376000,6585.488000,609.986000,7.482000,177.945892,27.266129,212.120000

Metric: median

,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
['Status'],11096.0,20849.0,1701.0,1599.0,2201.0,17502.0,8980.0,1604.0,4.0,150.0,28.0,186.0
['Link'],7422.0,9773.0,244.0,205.0,290.0,9034.5,5039.0,161.5,1.5,37.0,10.5,52.5
['Video'],30624.0,56950.0,1779.0,1643.0,2331.0,30131.0,14112.0,885.0,17.0,204.0,44.0,271.0
['Photo'],4675.0,8118.5,605.5,528.5,827.0,5498.0,3110.0,403.0,3.0,100.0,19.0,122.0
"{'Status', 'Link', 'Video', 'Photo'}",5281.0,9051.0,625.5,551.5,851.0,6255.5,3417.0,412.0,3.0,101.0,19.0,123.5

Metric: mode

,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
['Status'],3930.0,7509.0,128.0,86.0,1692.0,5009.0,2410,101.0,2.0,86.0,1.0,117.0
1,6692.0,13092.0,130.0,108.0,NaN,7549.0,3336,123.0,4.0,99.0,13.0,121.0
2,8260.0,14305.0,135.0,119.0,NaN,9562.0,5180,126.0,NaN,129.0,18.0,NaN
3,8284.0,14759.0,199.0,126.0,NaN,9684.0,5244,156.0,NaN,227.0,36.0,NaN
4,8488.0,14847.0,304.0,286.0,NaN,10266.0,5372,291.0,NaN,NaN,NaN,NaN
5,8628.0,15104.0,870.0,843.0,NaN,11710.0,6112,740.0,NaN,NaN,NaN,NaN
6,8728.0,15294.0,908.0,847.0,NaN,11970.0,6796,774.0,NaN,NaN,NaN,NaN
7,8896.0,16054.0,951.0,861.0,NaN,12905.0,7020,843.0,NaN,NaN,NaN,NaN
8,9056.0,16362.0,997.0,937.0,NaN,12996.0,7092,924.0,NaN,NaN,NaN,NaN
9,9120.0,16811.0,1006.0,953.0,NaN,13246.0,7200,956.0,NaN,NaN,NaN,NaN
10,9124.0,16978.0,1132.0,1032.0,NaN,13838.0,7344,981.0,NaN,NaN,NaN,NaN
11,9232.0,17099.0,1151.0,1073.0,NaN,13887.0,7360,995.0,NaN,NaN,NaN,NaN
12,9236.0,17202.0,1191.0,1130.0,NaN,14014.0,7616,1016.0,NaN,NaN,NaN,NaN
13,9504.0,17776.0,1264.0,1209.0,NaN,14450.0,7636,1075.0,NaN,NaN,NaN,NaN
14,10060.0,17827.0,1341.0,1270.0,NaN,15220.0,7852,1108.0,NaN,NaN,NaN,NaN
15,10152.0,19057.0,1457.0,1361.0,NaN,15382.0,7880,1162.0,NaN,NaN,NaN,NaN
16,10188.0,19279.0,1473.0,1397.0,NaN,15418.0,7912,1200.0,NaN,NaN,NaN,NaN
17,10460.0,19556.0,1476.0,1407.0,NaN,15850.0,8004,1250.0,NaN,NaN,NaN,NaN
18,10472.0,19680.0,1480.0,1426.0,NaN,16018.0,8120,1292.0,NaN,NaN,NaN,NaN
19,10744.0,20327.0,1521.0,1441.0,NaN,16034.0,8536,1331.0,NaN,NaN,NaN,NaN
20,10824.0,20573.0,1530.0,1462.0,NaN,16095.0,8548,1395.0,NaN,NaN,NaN,NaN
21,10956.0,20691.0,1636.0,1570.0,NaN,17272.0,8964,1578.0,NaN,NaN,NaN,NaN
22,11096.0,20849.0,1701.0,1599.0,NaN,17502.0,8980,1604.0,NaN,NaN,NaN,NaN
23,11844.0,21080.0,1843.0,1724.0,NaN,17627.0,9344,1613.0,NaN,NaN,NaN,NaN
24,12044.0,22538.0,1967.0,1877.0,NaN,17717.0,9824,1661.0,NaN,NaN,NaN,NaN
25,12468.0,24198.0,2055.0,1912.0,NaN,17748.0,10232,1716.0,NaN,NaN,NaN,NaN
26,13152.0,24738.0,2143.0,1966.0,NaN,18838.0,10280,1779.0,NaN,NaN,NaN,NaN
27,13216.0,24917.0,2240.0,2193.0,NaN,19078.0,10384,1834.0,NaN,NaN,NaN,NaN
28,13280.0,25269.0,2295.0,2235.0,NaN,19599.0,10400,1839.0,NaN,NaN,NaN,NaN
29,13872.0,25666.0,2417.0,2327.0,NaN,20030.0,10432,1905.0,NaN,NaN,NaN,NaN
30,14424.0,26000.0,2543.0,2438.0,NaN,20198.0,10564,2099.0,NaN,NaN,NaN,NaN
31,15296.0,27468.0,2573.0,2448.0,NaN,20547.0,10840,2119.0,NaN,NaN,NaN,NaN
32,15576.0,27513.0,2664.0,2531.0,NaN,21009.0,11408,2252.0,NaN,NaN,NaN,NaN
33,15816.0,30514.0,2675.0,2567.0,NaN,22103.0,11792,2256.0,NaN,NaN,NaN,NaN
34,16576.0,30612.0,2733.0,2570.0,NaN,23135.0,11800,2278.0,NaN,NaN,NaN,NaN
35,17360.0,31448.0,2750.0,2584.0,NaN,23338.0,11912,2342.0,NaN,NaN,NaN,NaN
36,17576.0,33058.0,2806.0,2654.0,NaN,23584.0,12888,2361.0,NaN,NaN,NaN,NaN
37,17912.0,33613.0,2827.0,2781.0,NaN,24363.0,13296,2602.0,NaN,NaN,NaN,NaN
38,18320.0,34143.0,3370.0,3244.0,NaN,25539.0,14056,2806.0,NaN,NaN,NaN,NaN
39,19552.0,34774.0,3572.0,3464.0,NaN,25584.0,14920,3014.0,NaN,NaN,NaN,NaN
40,20168.0,35904.0,3742.0,3682.0,NaN,26881.0,15056,3300.0,NaN,NaN,NaN,NaN
41,21256.0,41906.0,4258.0,4100.0,NaN,35455.0,17592,3798.0,NaN,NaN,NaN,NaN
42,21744.0,42313.0,4840.0,4754.0,NaN,35977.0,18048,4104.0,NaN,NaN,NaN,NaN
43,23832.0,42334.0,5352.0,5202.0,NaN,37816.0,18952,4318.0,NaN,NaN,NaN,NaN
44,31136.0,59964.0,6164.0,5934.0,NaN,37849.0,21352,4376.0,NaN,NaN,NaN,NaN
['Link'],1536.0,3094.0,66.0,322.0,26.0,2307.0,1180,19.0,0.0,12.0,2.0,14.0
1,1925.0,3481.0,NaN,NaN,70.0,2330.0,1377,58.0,NaN,32.0,NaN,NaN
2,2645.0,4270.0,NaN,NaN,71.0,2903.0,1407,59.0,NaN,NaN,NaN,NaN
3,2933.0,5144.0,NaN,NaN,97.0,3972.0,2012,76.0,NaN,NaN,NaN,NaN
4,3454.0,5808.0,NaN,NaN,99.0,4263.0,2138,77.0,NaN,NaN,NaN,NaN
5,3616.0,6853.0,NaN,NaN,118.0,6282.0,3100,92.0,NaN,NaN,NaN,NaN
6,4664.0,6887.0,NaN,NaN,126.0,6625.0,3324,93.0,NaN,NaN,NaN,NaN
7,4938.0,7910.0,NaN,NaN,130.0,6734.0,3492,101.0,NaN,NaN,NaN,NaN
8,5168.0,7927.0,NaN,NaN,170.0,7041.0,3804,106.0,NaN,NaN,NaN,NaN
9,5730.0,8371.0,NaN,NaN,223.0,7196.0,3996,138.0,NaN,NaN,NaN,NaN
10,6876.0,9463.0,NaN,NaN,251.0,8964.0,4830,156.0,NaN,NaN,NaN,NaN
11,7968.0,10083.0,NaN,NaN,329.0,9105.0,5248,167.0,NaN,NaN,NaN,NaN
12,9356.0,10885.0,NaN,NaN,337.0,9403.0,5472,173.0,NaN,NaN,NaN,NaN
13,12540.0,13023.0,NaN,NaN,389.0,12078.0,5752,185.0,NaN,NaN,NaN,NaN
14,18480.0,14986.0,NaN,NaN,396.0,12522.0,6752,220.0,NaN,NaN,NaN,NaN
15,21176.0,19301.0,NaN,NaN,460.0,13858.0,8032,230.0,NaN,NaN,NaN,NaN
16,34192.0,28438.0,NaN,NaN,477.0,13919.0,8176,259.0,NaN,NaN,NaN,NaN
17,35360.0,42092.0,NaN,NaN,505.0,15766.0,8460,289.0,NaN,NaN,NaN,NaN
18,39600.0,45260.0,NaN,NaN,581.0,16914.0,10720,319.0,NaN,NaN,NaN,NaN
19,45920.0,54779.0,NaN,NaN,763.0,17842.0,11008,392.0,NaN,NaN,NaN,NaN
20,68992.0,94172.0,NaN,NaN,1267.0,22907.0,16464,635.0,NaN,NaN,NaN,NaN
21,70912.0,229733.0,NaN,NaN,1345.0,42338.0,27232,788.0,NaN,NaN,NaN,NaN
['Video'],13544.0,30235.0,459.0,411.0,539.0,21436.0,9568,363.0,2.0,65.0,13.0,81.0
1,16416.0,31950.0,517.0,458.0,667.0,24667.0,11760,447.0,18.0,99.0,NaN,114.0
2,21872.0,40413.0,1141.0,1068.0,1728.0,26622.0,12920,559.0,NaN,143.0,NaN,174.0
3,30624.0,56950.0,1779.0,1643.0,2331.0,30131.0,14112,885.0,NaN,204.0,NaN,271.0
4,36208.0,61262.0,2080.0,1735.0,2356.0,32033.0,15744,1008.0,NaN,315.0,NaN,409.0
5,100768.0,220447.0,2101.0,1956.0,3253.0,59658.0,18880,1376.0,NaN,345.0,NaN,472.0
6,139008.0,277100.0,3872.0,3822.0,7327.0,107502.0,38720,2218.0,NaN,449.0,NaN,550.0
['Photo'],677.0,4372.0,537.0,298.0,431.0,1210.0,690,403.0,0.0,7.0,14.0,0.0
1,2232.0,6503.0,NaN,319.0,513.0,1284.0,704,NaN,NaN,79.0,NaN,39.0
2,2938.0,7004.0,NaN,335.0,599.0,2541.0,1228,NaN,NaN,98.0,NaN,NaN
3,3322.0,8533.0,NaN,374.0,652.0,2888.0,1640,NaN,NaN,NaN,NaN,NaN
4,3358.0,8745.0,NaN,482.0,719.0,3675.0,1674,NaN,NaN,NaN,NaN,NaN
5,3414.0,12735.0,NaN,503.0,730.0,4911.0,1722,NaN,NaN,NaN,NaN,NaN
6,3528.0,NaN,NaN,513.0,795.0,4935.0,2044,NaN,NaN,NaN,NaN,NaN
7,3754.0,NaN,NaN,642.0,889.0,5010.0,2124,NaN,NaN,NaN,NaN,NaN
8,5280.0,NaN,NaN,NaN,NaN,5732.0,2162,NaN,NaN,NaN,NaN,NaN
9,5290.0,NaN,NaN,NaN,NaN,NaN,2174,NaN,NaN,NaN,NaN,NaN
10,9528.0,NaN,NaN,NaN,NaN,NaN,2388,NaN,NaN,NaN,NaN,NaN
11,32208.0,NaN,NaN,NaN,NaN,NaN,2426,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,2604,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,2616,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,2644,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,2660,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,2704,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,2752,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,2868,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,3114,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,3216,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,3230,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,3298,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,3768,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,5348,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,7800,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,20608,NaN,NaN,NaN,NaN,NaN
"{'Status', 'Link', 'Video', 'Photo'}",677.0,4372.0,537.0,182.0,431.0,1210.0,690,403.0,0.0,98.0,13.0,0.0
1,2232.0,6503.0,NaN,298.0,513.0,1284.0,704,NaN,NaN,NaN,14.0,39.0
2,2645.0,7004.0,NaN,319.0,599.0,2541.0,1228,NaN,NaN,NaN,NaN,75.0
3,2938.0,8533.0,NaN,322.0,652.0,2888.0,1640,NaN,NaN,NaN,NaN,NaN
4,3322.0,8745.0,NaN,335.0,719.0,3675.0,1674,NaN,NaN,NaN,NaN,NaN
5,3358.0,12735.0,NaN,374.0,730.0,4911.0,1722,NaN,NaN,NaN,NaN,NaN
6,3414.0,NaN,NaN,482.0,795.0,4935.0,2044,NaN,NaN,NaN,NaN,NaN
7,3528.0,NaN,NaN,503.0,889.0,5010.0,2124,NaN,NaN,NaN,NaN,NaN
8,3754.0,NaN,NaN,513.0,NaN,5732.0,2162,NaN,NaN,NaN,NaN,NaN
9,5280.0,NaN,NaN,642.0,NaN,NaN,2174,NaN,NaN,NaN,NaN,NaN
10,5290.0,NaN,NaN,NaN,NaN,NaN,2388,NaN,NaN,NaN,NaN,NaN
11,6692.0,NaN,NaN,NaN,NaN,NaN,2426,NaN,NaN,NaN,NaN,NaN
12,9528.0,NaN,NaN,NaN,NaN,NaN,2604,NaN,NaN,NaN,NaN,NaN
13,13544.0,NaN,NaN,NaN,NaN,NaN,2616,NaN,NaN,NaN,NaN,NaN
14,32208.0,NaN,NaN,NaN,NaN,NaN,2644,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,2660,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,2704,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,2752,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,2868,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,3114,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,3216,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,3230,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,3298,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,3768,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,5348,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,5372,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,7020,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,7800,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,8032,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,8120,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,20608,NaN,NaN,NaN,NaN,NaN

In [4]:
## Lifetime Engaged Users -   -   
display(data[data['Lifetime Engaged Users'] == (data['Lifetime Engaged Users'].max())])

,Type,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
446,Photo,98816,125026,11452,11328,18115,16682,10336,1356,10,197.0,21.0,228

In [5]:
##         ,     
data['c'] = data['Lifetime Engaged Users'] / data['Lifetime Post Total Reach']
sort = data.sort_values('c', ascending = False)
display(sort[sort.c > 0.20])

,Type,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions,c
422,Photo,238,570,143,142,834,567,236,99,0,2.0,0.0,2,0.600840
118,Photo,834,1570,399,392,510,1390,704,351,0,7.0,2.0,9,0.478417
120,Photo,584,1029,273,271,308,943,511,232,0,2.0,NaN,2,0.467466
117,Photo,729,1374,303,298,331,1284,650,262,0,7.0,0.0,7,0.415638
122,Photo,619,1096,257,254,292,951,516,217,1,1.0,2.0,4,0.415186
432,Photo,452,726,186,184,889,721,450,114,0,4.0,1.0,5,0.411504
115,Photo,813,1568,323,319,387,1402,695,280,0,4.0,2.0,6,0.397294
123,Photo,617,1071,229,223,265,935,521,191,1,3.0,2.0,6,0.371151
124,Photo,677,1285,251,246,297,1210,615,211,0,7.0,NaN,7,0.370753
125,Photo,677,1240,236,228,264,1098,580,196,0,7.0,2.0,9,0.348597
290,Photo,1729,3289,596,591,735,2888,1406,340,0,23.0,2.0,25,0.344708
426,Photo,391,746,131,130,766,723,380,93,0,6.0,1.0,7,0.335038
119,Photo,786,1573,263,257,318,1401,660,222,0,6.0,2.0,8,0.334606
133,Photo,652,1331,214,206,249,1249,588,182,0,11.0,1.0,12,0.328221
447,Photo,7220,12735,2348,2300,3311,9837,5296,642,6,88.0,24.0,118,0.325208
276,Photo,2316,3611,722,716,862,2545,1529,372,0,25.0,5.0,30,0.311744
38,Status,17576,33058,5352,5202,6547,23135,11792,4104,11,227.0,31.0,269,0.304506
127,Photo,747,1443,226,220,287,1252,632,194,0,9.0,1.0,10,0.302544
128,Photo,645,1117,195,192,224,989,554,166,0,4.0,1.0,5,0.302326
132,Photo,659,1158,199,194,239,1041,576,169,1,7.0,2.0,10,0.301973
281,Photo,3046,4909,909,872,1147,3559,2126,477,1,71.0,17.0,89,0.298424
96,Photo,1101,2548,324,287,2418,1284,704,220,3,51.0,11.0,65,0.294278
42,Photo,7268,13989,2087,2079,12074,13544,7096,1975,7,26.0,3.0,36,0.287149
213,Photo,1006,1594,277,268,354,1055,651,187,1,11.0,3.0,15,0.275348
129,Photo,754,1510,206,205,252,1430,690,175,0,3.0,0.0,3,0.273210
216,Photo,1330,2327,363,351,433,1475,827,230,2,17.0,9.0,28,0.272932
80,Status,8728,17827,2295,2235,2828,15418,7344,2099,2,86.0,13.0,101,0.262947
164,Photo,1060,2004,266,251,337,1705,870,204,0,18.0,NaN,18,0.250943
456,Photo,3796,6737,949,940,1192,5249,2694,398,1,22.0,6.0,29,0.250000
134,Photo,861,1565,214,192,239,1351,717,180,2,28.0,4.0,34,0.248548
274,Photo,3706,6194,895,884,1173,4700,2726,493,18,46.0,7.0,71,0.241500
325,Photo,3110,5405,732,712,892,4605,2540,342,2,33.0,10.0,45,0.235370
316,Photo,3234,5113,756,724,937,3476,2174,347,0,58.0,17.0,75,0.233766
171,Photo,1543,2874,360,334,463,2373,1228,267,2,30.0,6.0,38,0.233312
114,Photo,1592,2749,370,356,414,2551,1454,327,0,15.0,2.0,17,0.232412
280,Photo,3212,4908,735,720,897,3399,2162,375,1,40.0,8.0,49,0.228829
172,Status,21256,41906,4840,4754,5906,35455,17592,4318,38,163.0,27.0,228,0.227700
130,Photo,910,1673,207,201,247,1503,782,176,0,8.0,2.0,10,0.227473
131,Photo,3906,8239,868,863,2632,7736,3768,774,0,7.0,3.0,10,0.222222
196,Photo,1809,3130,399,359,494,2541,1435,289,2,64.0,7.0,73,0.220564
292,Photo,2585,4410,569,560,781,3802,2144,348,0,19.0,5.0,24,0.220116
461,Photo,5880,10115,1291,1264,1878,8536,4884,706,5,79.0,11.0,95,0.219558
46,Status,16576,30612,3572,3464,4802,24363,12888,3014,4,174.0,36.0,214,0.215492
452,Photo,5786,10634,1237,1218,1526,9103,4764,483,4,49.0,15.0,68,0.213792
451,Photo,6416,11459,1362,1313,1652,9122,4716,497,0,96.0,29.0,125,0.212282
317,Photo,3322,5553,702,656,863,3484,1968,328,2,74.0,14.0,90,0.211318
484,Photo,5040,8367,1062,1023,1348,5485,3068,437,2,82.0,24.0,108,0.210714
309,Photo,3754,6295,791,730,1072,4343,2590,482,8,107.0,20.0,135,0.210709
332,Photo,2718,4698,566,528,663,3601,1992,306,0,50.0,10.0,60,0.208241
212,Photo,1659,2845,345,321,424,1604,915,239,3,36.0,11.0,50,0.207957
478,Photo,5536,8745,1141,1099,1461,5225,3098,483,1,74.0,31.0,106,0.206105
475,Photo,5754,9238,1179,1143,1452,6101,3546,420,0,65.0,19.0,84,0.204901
275,Status,18320,31448,3742,3682,7854,25584,14920,3300,36,98.0,14.0,148,0.204258
297,Photo,2763,4388,564,523,650,3519,2124,375,0,62.0,10.0,72,0.204126
489,Photo,4800,7754,975,938,1278,4932,2820,432,1,74.0,28.0,103,0.203125
486,Photo,5034,8030,1020,993,1243,5340,3094,440,2,56.0,25.0,83,0.202622
175,Status,13216,24738,2675,2584,2969,19599,10232,2342,2,165.0,22.0,189,0.202406
110,Photo,1673,3655,338,324,1619,2598,1469,268,2,28.0,4.0,34,0.202032
265,Photo,2628,4264,528,503,652,3086,1846,328,3,42.0,10.0,55,0.200913